/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  max-inline-size: 700px;
  background-color: var(--background-color);
  background-attachment: fixed;
  background-image: var(--background-image);
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  font-family: var(--main-font), Arial, Helvetica, sans-serif;
  font-variation-settings: "wght" var(--card-text-font-weight);
  margin: auto;
}

/* хедер */
.header {
  margin: 0 auto;
  font-family: var(--accent-font);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
  border: 2px solid var(--frame-color);
  margin-block: 100px;
  background-color: var(--background-color);
}

.header__logo {
  font-size: clamp(3.063rem, 2.71rem + 1.502vw, 4.063rem);
  font-weight: 400;
  text-transform: uppercase;
  padding-block-start: clamp(7.5rem, 7.324rem + 0.751vw, 8rem);
  /* добавила паддинги, т.к. убрала min-height: 368px у header*/
}

.header__title {
  font-size: clamp(0.875rem, 0.677rem + 0.845vw, 1.438rem);
  font-weight: 400;
  text-transform: uppercase;
  padding-block-end: clamp(7.5rem, 7.324rem + 0.751vw, 8rem);
  /* добавила паддинги, т.к. убрала min-height: 368px  у header*/
}

/* майн */
.card__item {
  border: 2px solid var(--frame-color);
  background-color: var(--background-color);
  margin-block-end: 49px;
}

/* заголовок карточки */
.card__item-title {
  font-family: var(--main-font), Arial, Helvetica, sans-serif;
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  /*тут по макету что в мобилке что в декстопе 18рх*/
  font-variation-settings: "wght" var(--card-title-font-weight);
  padding-inline: 11px;
  padding-block: 4px;
  border-block-end: 2px solid var(--frame-color);
}

/* картинка в карточке */
.card__item-image {
  position: relative;
}

.card-picture {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  aspect-ratio: 1/1;
  display: block;
}

/* фильтры изображений */
.image-filter-contrast {
  filter: contrast(20%);
}

.image-filter-blur {
  filter: blur(0.5rem);
}

.image-filter-grayscale {
  filter: grayscale(1);
}

.image-filter-saturate {
  filter: saturate(180%);
}

.image-filter-hue-rotate {
  filter: hue-rotate(-50deg);
}

.image-filter-sepia {
  filter: sepia(60%);
}

.image-filter-multiple {
  filter: brightness(1.5) sepia(30%) invert(0.8);
}

/* лейбел в картинке*/
.card-label {
  position: absolute;
  font-family: var(--accent-font);
  font-size: 14px;
  display: block;
  color: transparent;
  text-transform: uppercase;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-stroke: 1px #000000;
  inset-block-start: 27px;
  inset-inline-end: 24px;
  text-shadow: var(--label-shadow);
}

@supports (text-stroke: 1px #000000) {
  .card-label {
    text-stroke: 1px #000000;
    text-shadow: none;
  }
}

/* див для параграфов в карточке */
.card__item-content {
  display: flex;
  gap: 30px;
  flex-direction: column;
  padding: 25px;
  border-block-start: 2px solid var(--frame-color);
}

/* текст параграфов */
.card-text {
  font-family: var(--main-font), Arial, Helvetica, sans-serif;
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  /*тут по макету что в мобилке что в декстопе 18рх*/
  font-variation-settings: "wght" var(--card-text-font-weight);
  line-height: 21px;
}

/* див у кнопок карточек */
.card__item-button {
  display: flex;
  justify-content: end;
  padding-right: 25px;
  padding-bottom: 25px;
}

/* общий клас кнопок */
.button {
  font-family: var(--accent-font);
  font-variation-settings: "wght" var(--card-text-font-weight);
  border: 2px solid var(--frame-color);
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  transform: scaleX(0);
  transition: 0.5s ease-in-out;
  transform-origin: left center;
  background-color: var(--color-filling-button);
}

.button:hover::before {
  transform: scale(1);
}

.button:focus {
  outline: none;
  box-shadow: 2px 2px 0 var(--color-filling-button);
}

/* кнопка сердца */
.card__icon-button {
  border: none;
  background-color: transparent;
  block-size: 38px;
}

/* кнопка likе*/
.card__like-button {
  inline-size: 130px;
  block-size: 38px;
}

/* текст кнопки */
.button__text {
  font-family: var(--accent-font);
  font-size: 14px;
  color: white;
  font-variation-settings: "wght" var(--card-text-font-weight);
  mix-blend-mode: difference;
}

/* иконка сердца */
.like-icon {
  width: 39px;
  height: 36px;
}

.sparks {
  opacity: 0;
}

/* кнопки сохранить на память и модальное окно */
.save {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block-end: 100px;
}

/* кнопка сохранить на память */
.save-button {
  inline-size: 339px;
  block-size: 55px;
  gap: 8px;
  margin: 0 auto;
  padding: 15px 20px;
}

.floppy-svg {
  width: 21px;
  height: 21px;
  color: var(--button-text-color);
  mix-blend-mode: difference;
}

.popup {
  font-family: var(--accent-font);
  font-size: 14px;
  text-transform: uppercase;
  inline-size: 357px;
  padding: 30px;
}

.popup::backdrop {
  opacity: 0.75;
  background-color: #000000;
}


.popup[open] {
  display: flex;
  flex-direction: column;
}

.popup-content {
  display: grid;
  grid-template-columns: min-content 1fr;
  justify-content: center;
  align-items: center;
  gap: 20px;
  line-height: 150%;
}

.floppy-big {
  width: 39px;
  height: 39px;
}

.button-close {
  text-transform: uppercase;
  inline-size: 100%;
  margin-block-start: 30px;
  padding-block-end: 10px;
  padding-block-start: 10px;

}

@media (width <=375px) {
  .card__item {
    margin-block-end: 50px;
  }

  .card__item-content {
    gap: 27px;
  }

  .card__item-button {
    gap: 0px;
  }

  .card-picture {
    max-height: 375px;
  }

  .card-label {
    inset-block-start: 24px;
    inset-inline-end: 10px;

  }

  .save-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    inline-size: 306px;
    block-size: 84px;
    padding: 0;
    gap: 10px;
  }

  .floppy-svg {
    width: 28px;
    height: 28px;
  }

}